@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.container { 
text-align: center;
  font-family: 'Kanit', sans-serif;
}
    input[type=submit] {
      background-color: #11192B;
      border: 2px;
      color: blue;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      font-family: 'Kanit', sans-serif;
    }
h3 {
    font-family: 'Kanit', sans-serif;
}
