@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body {
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

.button {
    background-color: none;
    border: #7f7ae7;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    border: 2px solid #7289DA;
    font-family: 'Montserrat';
    align-items: center;
}

.button:hover{
    background: #7289DA;
}

body h1{
    color: #99AAB5;
}

body h3{
    color: #2C2F33;
}
